{{> "header"}}

<header class="header">
	<div class="header__container container">
		<div class="header__brand">
			{{logo class="header__brand_item"}}
		</div>
		<div class="header__menu">
			{{nav}}
		</div>
	</div>
</header>

<main role="main">
	{{{body}}}
</main>

{{> "footer"}}