{{> "header"}}

<header class="header">
	<div class="header__container container">
		<div class="header__brand">
			<img src="//placehold.it/64x64" class="header__brand_image">
		</div>
		<div class="header__menu">
			<ul class="header__menu_nav">
				<li class="header__menu_item active">
					<a href="#">Home</a>
				</li>
				<li class="header__menu_item">
					<a href="/profile">Profile</a>
				</li>
			</ul>
		</div>
	</div>
</header>

{{{body}}}

{{> "footer"}}