<div class="pagination">
	<h2 class="pagination__text"></h2>
	<div class="pagination__nav">
		{{#if prev}}
			<a href="{{prevURL}}" class="pagination__nav_prev"><i class="fa fa-angle-left"></i></a>
		{{/if}}
		<span class="page-numbers current">Page {{page}} of {{pages}}</span>
		{{#if next}}
			<a href="{{nextURL}}" class="pagination__nav_next"><i class="fa fa-angle-right"></i></a>
		{{/if}}
	</div>
</div>